<!--
    Copyright (c) 2021 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->
<server>
    <featureManager>
      <feature>servlet-3.1</feature>
      <feature>jdbc-4.2</feature>
      <feature>jndi-1.0</feature>
      <feature>componenttest-1.0</feature>
    </featureManager>
 
    <include location="../fatTestPorts.xml"/>
    
    <application location="oraclesslfat.war">
    	<classloader commonLibraryRef="DBLib"/>
    </application>
    
    <library id="DBLib">
    	<fileset dir="${shared.resource.dir}/ssl/"/>
    </library>
    
    <!-- Default datasource to test user/password auth still works -->
    <dataSource id="DefaultDataSource">
    	<jdbcDriver libraryRef="DBLib"/>
    	<properties.oracle URL="${env.BASIC_URL}" user="${env.USER}" password="${env.PASS}"/>
    </dataSource>
    
    <!-- Shared oracle connection properties -->
 	<variable name="oracle.conn.props" value="oracle.net.ssl_version=1.2;oracle.net.ssl_server_dn_match=false;oracle.net.authentication_services=TCPS;" />
        
    <!-- Datasource using oracle wallet auth and ssl connection -->
    <variable name="oracle.wallet"            value="oracle.net.wallet_location=${server.config.dir}/security/;" />
    <variable name="oracle.conn.props.wallet" value="${oracle.conn.props}${oracle.wallet}" /> 

    <dataSource id="oracleWallet" jndiName="jdbc/oracleWallet">
    	<jdbcDriver libraryRef="DBLib"/>
    	<properties.oracle URL="${env.SSL_URL}" connectionProperties="${oracle.conn.props.wallet}"/>
    </dataSource>
    
    <!-- Datasource using keystore/truststore for ssl connection -->
	<variable name="oracle.keystore"			value="javax.net.ssl.keystore=${server.config.dir}/store/client-keystore.p12;javax.net.ssl.trustStoreType=PKCS12;javax.net.ssl.keyStorePassword=${env.WALLET_PASS};"/>
    <variable name="oracle.truststore"		  	value="javax.net.ssl.trustStore=${server.config.dir}/store/client-keystore.p12;javax.net.ssl.trustStoreType=PKCS12;javax.net.ssl.trustStorePassword=${env.WALLET_PASS};"/>
    <variable name="oracle.conn.props.keystore"      value="${oracle.conn.props}${oracle.keystore}${oracle.truststore}" />
    
    <dataSource id="oracle-keystore" jndiName="jdbc/oracle-keystore">
    	<jdbcDriver libraryRef="DBLib"/>
    	<properties.oracle URL="${env.SSL_URL}" connectionProperties="${oracle.conn.props.keystore}" />
    </dataSource>

    <javaPermission codebase="${shared.resource.dir}/ssl/ojdbc8_g.jar" className="java.security.AllPermission"/>
    <javaPermission codebase="${server.config.dir}/apps/oraclesslfat.war" className="java.lang.RuntimePermission" name="accessDeclaredMembers"/>

    <variable name="onError" value="FAIL"/>
</server>